PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=Pwkt4Iu3syjbV9SFNeWR6wlB1dDjYqt4
DRIVE_DISK=local

DB_CONNECTION=pg
PG_HOST=database
PG_PORT=5432
PG_USER=envelopes
PG_PASSWORD=secret
PG_DB_NAME=envelopes

PLAID_CLIENT_ID=
PLAID_SECRET=
